.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;

    ._sns {
        position: relative;
    }

    ._contact {
        position: relative;
    }

    @include pc-layout {
        width: 70%; height: 5vmin;
        left: 15%; bottom: 10vmin;

        ._sns {
            bottom: 0;

            a {
                position: relative;
                width: 5vmin; height: 5vmin;
                display: inline-block;
                margin-right: 3vmin;
                transition: all .3s ease;
                transform-origin: center;

                &:hover { transform: scale(1.1); }

                i {
                    position: absolute;
                    display: block;
                    width: inherit; height: inherit;
                    background-size: 5vmin;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:nth-child(1) i { background-image: url("../images/github-logo.svg"); }
                &:nth-child(2) i { background-image: url("../images/weixin-logo.svg"); }
            }

            .footer__popper {
                background-color: #fff;
                padding: .2rem;
                border-radius: 5%;
                width: 10rem;
                height: 10rem;
                z-index: 200;

                &:before {
                    position: absolute;
                    z-index: -1;
                    content: "";
                    right: calc(50% - 10px);
                    bottom: -8px;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: #fff transparent transparent transparent;
                }

                .footer__qr-code {
                    width: 100%;
                }
            }
        }

        ._contact {
            height: 5vmin;

            .footer__email, .footer__line, .footer__beian{
                position: relative;
                display: inline-block;
                line-height: 5vmin;
            }

            .footer__line {
                width: 5rem; height: 1px;
                margin-right: 3vmin;
            }

            .footer__email {
                height: 5vmin;
                font-size: 1rem;
                margin-right: 3vmin;
            }

            .footer__beian {
                font-size: 1rem;
                height: 5vmin;
                font-family: $theme-font-article;
            }
        }
    }

    @include sp-layout {

    }
}