.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;

    ._sns {
        position: relative;
    }

    ._contact {
        position: relative;
    }

    @include pc-layout {
        width: 70%; height: 5vmin;
        left: 15%; bottom: 10vmin;

        ._sns {
            a {
                position: relative;
                width: 5vmin; height: 5vmin;
                display: inline-block;
                margin-right: 2vmin;
                transition: all .3s ease;
                transform-origin: center;

                &:hover { transform: scale(1.1); }

                i {
                    position: absolute;
                    display: block;
                    width: inherit; height: inherit;
                    background-size: 5vmin;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:nth-child(1) i { background-image: url("../images/github-logo.svg"); }
                &:nth-child(2) i { background-image: url("../images/weibo-logo.svg"); }
            }
        }

        ._contact {
            display: inline-block;

            .footer__line {
                width: 50%; height: 100%;
                bottom: 0;
            }

            .footer__email {
                width: 100%; height: 100%;
                bottom: 0;
                font-size: 1rem;
            }
        }
    }

    @include sp-layout {

    }
}