.header {
    position: absolute;
    box-sizing: border-box;

    ._logo {
        .header__logo {
            display: block;
            background-image: url("../images/logo.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
        .header__name {
            display: block;
            font-family: Raleway, Serif;

            div {
                position: absolute;
                transform-origin: center;
                transition: all .3s ease;
                text-align: center;
            }
        }
    }

    @include pc-layout {
        width: 10%; height: 100%;
        border-right: 1px solid transparentize($theme-color-white, .5);
        text-align: center;
        perspective: 500px;

        &::after {
            content: ""; position: absolute;
            width: .3rem; height: 3rem;
            right: -.15rem; bottom: -3rem;
            background-color: $theme-color-white;
            animation: bottom-slide-to-top 3.2s ease .36s infinite;
        }

        ._logo {
            position: absolute;
            width: 100%; height: 25%;
            display: flex;
            flex-wrap: wrap;

            .header__logo {
                position: relative;
                width: 100%; height: 10vw;
                background-size: 65%;
                margin-top: 3vmin;
                transition: all .3s ease;
                &:hover, &:active { transform: rotateY(8deg) rotateX(-8deg); }
                animation: fadein .04s linear alternate 9 forwards;
            }

            .header__name {
                position: relative;
                width: 100%; height: 60%;

                div {
                    $size: 1rem;
                    width: 6vh; height: $size;
                    left: calc(50% - 3vh); top: calc(50% - .5rem);
                    transform: rotate(-90deg) translateX(-100%);
                    font-size: $size;
                    line-height: $size;
                    letter-spacing: .3rem;
                    opacity: 0;
                    animation: fadein .8s ease .36s forwards;
                }
            }
        }

        ._binary {
            position: absolute;
            width: 100%; height: 20%;
            bottom: 10vmin;

            .header__binary {
                $size: 1.2rem;
                position: absolute;
                width: $size; height: 100%;
                left: calc(50% - .6rem);
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;

                span {
                    position: relative;
                    box-sizing: border-box;
                    width: .8rem; height: $size;
                    line-height: $size;
                    display: block;
                    font-size: $size;
                    font-family: monospace, Serif;
                    transform-origin: center;
                    transform: rotate(-90deg) translateY(.2rem);
                    opacity: 0;
                    // animation
                    $animation: fadein .8s ease-in-out alternate infinite;
                    @for $i from 1 through 7 {
                        &:nth-child(#{$i}) {
                            animation: $animation #{random() + 0.36}s;
                        }
                    }
                }

                .one {
                    color: $theme-color-black;
                    background-color: $theme-color-white;
                }
            }
        }
    }

    @include sp-layout {
        ._logo {
            .header__logo {}

            .header__name {}
        }

        ._binary {
            .header__binary {}
        }
    }
}