._line {
    position: absolute;
    width: 3rem; height: 1px;
    background-color: transparentize($theme-color-white, .5);

    &::before, &::after {
        position: absolute; content: "";
        width: 1rem; height: 2px;
        background-color: $theme-color-white;
    }

    &::before {
        left: -1rem; top: calc(50% - 1px);
    }

    &::after {
        right: -1rem; top: calc(50% - 1px);
    }
}

.main {
    position: absolute;

    // welcome
    ._welcome {
        position: absolute;
        width: 50%; height: 1rem;
        left: 0; top: 0;
        display: flex;

        .welcome__id {
            position: relative;
            width: calc(6rem + 5vmin); height: inherit;

            .id {
                width: 5rem; height: inherit;
                font-size: 1.1rem;
                font-weight: bolder;
                text-align: center;
                letter-spacing: 2px;
                font-family: "RBNo2Light", monospace, serif;
                transform: translateY(100%);
                opacity: 0;
                animation: bottom-slide-in .4s ease forwards, fadein .2s ease .2s forwards;
            }

            ._line {
                bottom: 0;
                transform: translateX(1rem);
            }
        }

        .welcome__text {
            position: relative;
            line-height: 1rem;
        }
    }

    // home part
    ._home {
        position: absolute;
        width: 100%; height: 50vmin;
        left: 0; top: calc(50% - 25vmin);

        .home__subtitle {
            position: relative;
            width: auto; height: 5vmin;
            background-color: $theme-color-white;
            color: $theme-color-black;
            overflow: hidden;
            line-height: 5vmin;
            padding: 0 2vmin;
            display: inline-block;
            box-sizing: border-box;
            font-size: .8rem;
            margin-bottom: 1vmin;
            opacity: 0;
            animation: fadein .8s ease forwards;
        }

        .home__title {
            position: relative;
            width: 60%; height: 24vmin;
        }

        .home__title-background {
            position: absolute;
            width: 100%; height: 100%;
            background-image: url("../images/background.svg");
            background-repeat: no-repeat;
            background-position: left;
            background-size: 100%;
            transform: translateX(-8%);
            opacity: 0;
            animation: fadein .4s ease forwards;
        }

        .home__title-wrap {
            position: absolute;
            width: 100%; height: 100%;
            overflow: hidden;

            .inner {
                position: absolute;
                width: inherit; height: inherit;
                background-image: url("../images/title.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 85%;
                transform: translateY(100%);
                transform-origin: bottom;
                animation: home-title-in 1s ease forwards;

                &::after {
                    content: ""; position: absolute;
                    width: 5rem; height: 5px;
                    background-color: $theme-color-red;
                    left: 0; bottom: 0;
                    transform: translateX(-100%);
                    transform-origin: left;
                    animation: left-slide-in 1s ease .7s forwards;
                }
            }
        }

        .home__slogan {
            position: relative;
            margin-top: 5vmin;
            width: 100%; height: 15vmin;
            color: $theme-color-white;
            font-size: 2rem;
            font-family: "RBNo2Light", Serif;
            font-weight: 400;
            letter-spacing: .4rem;

            span {
                display: inline-block;
            }
        }
    }

    // link part
    ._links {
        position: absolute;
        top: 0; right: 0;
        font-size: 1rem;

        span {
            margin: 0 4px;
        }
    }

    // next part
    ._next {
        position: absolute;
        width: 10vmin; height: 10vmin;
        top: calc(50% - 5vmin); right: 10vmin;
        background-image: url("../images/next.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-color: $theme-color-black;
        border: 0;
        outline: none;
        animation: next-button-animation 2s ease-in-out infinite;

        a {
            position: absolute;
            display: block;
            width: 100%; height: 100%;
            left: 0; top: 0;
        }
    }

    @include pc-layout {
        width: 70%; height: calc(100% - 10vmin);
        left: 15%; top: 5vmin;
    }
}