._line {
    position: absolute;
    width: 3rem; height: 1px;
    background-color: $theme-color-white;

    &::before, &::after {
        position: absolute; content: "";
        width: 1rem; height: 2px;
        background-color: $theme-color-white;
    }

    &::before {
        left: -1rem; top: calc(50% - 1px);
    }

    &::after {
        right: -1rem; top: calc(50% - 1px);
    }
}

.main {
    position: absolute;

    // home part
    ._home {
        position: absolute;
        width: 100%; height: 40vmin;
        left: 0; top: calc(50% - 20vmin);

        .home__subtitle {
            position: relative;
            width: auto; height: 5vmin;
            background-color: $theme-color-white;
            color: $theme-color-black;
            overflow: hidden;
            line-height: 5vmin;
            padding: 0 2vmin;
            display: inline-block;
            box-sizing: border-box;
            font-size: .8rem;
            margin-bottom: 1vmin;
        }

        .home__title {
            position: relative;
            width: 60%; height: 24vmin;
        }

        .home__title-background {
            position: absolute;
            width: 100%; height: 100%;
            background-image: url("../images/background.svg");
            background-repeat: no-repeat;
            background-position: left;
            background-size: 100%;
            transform: translateX(-8%);
        }

        .home__title-wrap {
            position: absolute;
            width: 100%; height: 100%;
            overflow: hidden;

            .inner {
                position: absolute;
                width: inherit; height: inherit;
                background-image: url("../images/title.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 85%;
                transform: translateY(100%);
                transform-origin: bottom;
                animation: home-title-in 1s ease forwards;

                &::after {
                    content: ""; position: absolute;
                    width: 5rem; height: 3px;
                    background-color: $theme-color-red;
                    left: 0; bottom: 0;
                    transform: translateX(-100%);
                    transform-origin: left;
                    animation: left-slide-in 1.2s ease .36s forwards;
                }
            }
        }

        .home__slogan {
            position: relative;
            margin-top: 3vmin;
            width: 100%; height: 20vmin;
            line-height: 20vmin;
            color: $theme-color-white;
            font-size: 2rem;
            font-family: "RBNo2Light", Serif;
            font-weight: 400;
            letter-spacing: .4rem;

            span {
                display: inline-block;
            }
        }
    }
    
    @include pc-layout {
        width: 70%; height: calc(100% - 18vmin);
        left: 15%; top: 3vmin;
    }
}