._line {
    position: absolute;
    width: 3rem; height: 1px;
    background-color: transparentize($theme-color-white, .5);

    &::before, &::after {
        position: absolute; content: "";
        width: 1rem; height: 2px;
        background-color: $theme-color-white;
    }

    &::before {
        left: -1rem; top: calc(50% - 1px);
    }

    &::after {
        right: -1rem; top: calc(50% - 1px);
    }
}

.main {
    position: absolute;

    // welcome
    ._welcome {
        position: absolute;
        width: 50%; height: 1rem;
        left: 0; top: 0;
        display: flex;

        .welcome__id {
            position: relative;
            width: calc(6rem + 5vmin); height: inherit;

            .id {
                width: 5rem; height: inherit;
                font-size: 1.1rem;
                font-weight: bolder;
                text-align: center;
                letter-spacing: 2px;
                font-family: $theme-font-special;
                transform: translateY(100%);
                opacity: 0;
                animation: bottom-slide-in .4s ease forwards, fadein .2s ease .2s forwards;
            }

            ._line {
                bottom: 0;
                transform: translateX(1rem);
            }
        }

        .welcome__text {
            position: relative;
            line-height: 1rem;
        }
    }

    // home part
    ._home {
        position: absolute;
        width: 100%; height: 50vmin;
        left: 0; top: calc(50% - 25vmin);

        .home__subtitle {
            position: relative;
            width: auto; height: 5vmin;
            background-color: $theme-color-white;
            color: $theme-color-black;
            overflow: hidden;
            line-height: 5vmin;
            padding: 0 2vmin;
            display: inline-block;
            box-sizing: border-box;
            font-size: .8rem;
            margin-bottom: 1vmin;
            opacity: 0;
            animation: fadein .8s ease forwards;
        }

        .home__title {
            position: relative;
            width: 60%; height: 24vmin;
        }

        .home__title-background {
            position: absolute;
            width: 100%; height: 100%;
            background-image: url("../images/background.svg");
            background-repeat: no-repeat;
            background-position: left;
            background-size: 100%;
            transform: translateX(-8%);
            opacity: 0;
            animation: fadein .4s ease forwards;
        }

        .home__title-wrap {
            position: absolute;
            width: 100%; height: 100%;
            overflow: hidden;

            .inner {
                position: absolute;
                width: inherit; height: inherit;
                background-image: url("../images/title.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 85%;
                transform: translateY(100%);
                transform-origin: bottom;
                animation: home-title-in 1s ease forwards;

                &::after {
                    content: ""; position: absolute;
                    width: 5rem; height: 5px;
                    background-color: $theme-color-red;
                    left: 0; bottom: 0;
                    transform: translateX(-100%);
                    transform-origin: left;
                    animation: left-slide-in 1s ease .7s forwards;
                }
            }
        }

        .home__slogan {
            position: relative;
            margin-top: 5vmin;
            width: 100%; height: 15vmin;
            color: $theme-color-white;
            font-size: 2rem;
            font-family: $theme-font-special;
            font-weight: 400;
            letter-spacing: .4rem;

            span {
                display: inline-block;
            }
        }
    }

    // about part
    ._about {
        position: absolute;
        width: calc(100% - 15vmin); height: 50vmin;
        left: 0; top: calc(50% - 25vmin);
        display: flex;

        .about__square {
            position: relative;
            width: 35%; height: 100%;

            span {
                position: absolute;
                display: block;
                width: 14vw; height: 14vw;
                left: 0; top: calc(50% - 7vw);
                opacity: 0;

                $transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0);

                &:nth-child(1) { transform: $transform translate(-50%, -50%); }
                &:nth-child(2) { transform: $transform translate(-25%, -25%); }
                &:nth-child(3) { transform: $transform translate(  0%,   0%); }
                &:nth-child(4) { transform: $transform translate( 25%,  25%); }
                &:nth-child(5) { transform: $transform translate( 50%,  50%); }

                &::after {
                    content: ""; position: absolute;
                    width: 100%; height: 100%;
                    left: 0; top: 0;
                    background-color: transparentize($theme-color-white, .3);
                    transform-origin: center center;

                }

                // animation
                @for $i from 1 through 5 {
                    &:nth-child(#{6 - $i}) {
                        animation: fadein 1s ease #{0.1 * $i}s forwards;
                    }

                    &:nth-child(#{$i})::after {
                        animation: rotate-1turn 12s linear infinite;
                    }
                }
            }
        }

        .about__article {
            position: relative;
            width: 65%; height: 100%;
            font-family: $theme-font-article;

            .about__article-title {
                width: 100%; height: 4rem;
                font-family: $theme-font-special;
                font-size: 4rem;
                letter-spacing: .7rem;
                padding: .1rem 0;
                border-bottom: 3px solid $theme-color-white;
                overflow: hidden;

                span {
                    display: inline-block;
                    opacity: 0;
                    transform: translateY(100%);
                    animation: bottom-slide-in .8s ease forwards, fadein .8s ease forwards
                }
            }

            .about__article-body {
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                width: 100%; height: calc(100% - 4.2rem);

                @include fuck-scrollbar;
            }

            .about__article-part1 {
                margin-top: 2rem;

                p {
                    margin-bottom: .7rem;
                }
            }

            .about__article-content {
                opacity: 0;
                animation: top-fade-in .8s ease .1s forwards;

                .title {
                    margin-top: 1.5rem;
                    margin-bottom: .5rem;
                    color: $theme-color-green;
                    font-size: 1.1rem;
                }

                li {
                    list-style-position: inside;
                    p {display: inline-block}
                }
            }
        }
    }

    // member part
    ._member {
        position: absolute;
        width: calc(100% - 20vmin); height: 60vmin;
        left: 0; top: calc(50% - 30vmin);
        font-family: $theme-font-article;
        background-color: transparentize($theme-color-white, .85);
        background-image: url("../images/cross.svg");
        background-size: 2rem;

        .member__line-start, .member__line-end {
            position: absolute;
            width: 108%; height: 3px;
            z-index: 100;

            &::after {
                content: ""; position: absolute;
                background-color: $theme-color-white;
                width: 100%; height: 100%;
                transform-origin: center;
                transform: scaleX(0);
                animation: scaleX0-1 .8s ease forwards;
            }
        }

        .member__line-start { left: -4%; top: 0; }
        .member__line-end   { left: -4%; bottom: 0; }

        .member__content {
            width: 100%; height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            box-sizing: border-box;
            padding: 2rem 2rem 1rem 2rem;

            @include fuck-scrollbar;

            h2 {
                font-family: $theme-font-special;
                letter-spacing: .7rem;
                font-size: 2.4rem;
                margin-bottom: 2rem;
                opacity: 0;
                animation: fadein .04s linear alternate 7 forwards;
            }
        }

        .profile {
            position: relative;
            box-sizing: border-box;
            width: 100%; height: 5rem;
            margin-bottom: 1.5rem;
            display: flex;
            opacity: 0;
            animation: bottom-fade-in .6s ease .4s forwards;

            .member__avatar {
                display: inline-block;
                width: 4rem;
                text-align: center;

                img, span {
                    position: relative;
                    display: inline-block;
                }

                img {
                    width: 3.5rem; height: 3.5rem;
                    border-radius: 50%;
                    box-sizing: border-box;
                    border: 1px solid $theme-color-white;
                    background-color: #fff;
                    overflow: hidden;
                }

                span {
                    font-size: .8rem;
                    width: 120%;
                    transform: translateX(-10%);
                    word-break: break-all;
                    margin-top: 5px;
                }
            }

            .member__intro {
                display: flex;
                width: calc(100% - 5rem);
                margin-left: 1rem;

                p {
                    margin: auto;
                    font-size: .9rem;
                    font-family: $theme-font-article;
                    background-color: transparentize($theme-color-white, .9);
                    width: 100%; height: 3.5rem;
                    box-sizing: border-box;
                    padding-left: 1rem;
                    line-height: 3.5rem;
                    white-space: nowrap;
                    overflow-x: scroll;

                    @include fuck-scrollbar;

                    &::before {
                        content: ""; position: absolute;
                        background-color: $theme-color-white;
                        width: calc(100% - 5rem); height: 1px;
                        transform: translate(-1rem, -.8rem);
                    }
                }
            }
        }
    }

    // glory part
    ._glory {
        position: absolute;
        width: calc(100% - 18vmin); height: 50vmin;
        left: 0; top: calc(50% - 25vmin);
        font-family: $theme-font-article;

        .glory__open {
            position: absolute;
            width: 26vmin; height: 26vmin;
            left: calc(50% - 13vmin); top: calc(50% - 13vmin);
            display: flex;
            animation: fadeout 1s ease 1.2s forwards;

            .text {
                position: relative;
                margin: auto;
                opacity: 0;
                font-family: $theme-font-special;
                font-size: 3.6rem;
                letter-spacing: .6rem;
                animation: text-slide-top .5s cubic-bezier(0.68, 0.04, 0.25, 1) .7s forwards;
            }

            .coverage {
                position: absolute;
                width: 100%; height: 100%;
                left: 0; top: 0;
                opacity: 0;
                animation: fall-bound .7s cubic-bezier(0.94, 0.01, 1, 1) forwards;

                &::before, &::after {
                    content: ""; position: absolute;
                    width: 50%; height: 100%;
                    background-image: url("../images/logo-blue.svg");
                    background-size: 200%;
                    background-repeat: no-repeat;
                    transform-origin: bottom center;
                }

                &::before {
                    left: 0; top: 0;
                    background-position: left center;
                    animation: paka .6s cubic-bezier(0.94, 0.01, 1, 1) .7s forwards;
                }

                &::after {
                    right: 0; top: 0;
                    background-position: right center;
                    animation: paka- .6s cubic-bezier(0.94, 0.01, 1, 1) .7s forwards;
                }

            }
        }

        table {
            display: block;
            width: 100%; height: 100%;
            border-collapse: collapse;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            font-size: .9rem;
            border-radius: 5px;
            opacity: 0;
            animation: fadein 1s ease 1.2s forwards;

            @include fuck-scrollbar;

            th, td {
                padding: .9rem;
            }

            thead {
                background-color: $theme-color-blue;
            }

            tbody {
                td {
                    text-align: center;
                }

                tr {
                    &:nth-child(odd) {background-color: transparentize($theme-color-blue, .6); }
                    &:nth-child(even) {background-color: transparentize($theme-color-blue, .3); }
                }
            }
        }
    }

    // link part
    ._links {
        position: absolute;
        top: 0; right: 0;
        font-size: 1rem;

        span {
            margin: 0 4px;
        }
    }

    // next part
    ._next {
        position: absolute;
        width: 10vmin; height: 10vmin;
        top: calc(50% - 5vmin); right: 0;
        background-image: url("../images/next.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-color: $theme-color-black;
        border: 0;
        outline: none;
        animation: next-button-animation 2s ease-in-out infinite;

        a {
            position: absolute;
            display: block;
            width: 100%; height: 100%;
            left: 0; top: 0;
        }
    }

    @include pc-layout {
        width: 70%; height: calc(100% - 10vmin);
        left: 15%; top: 5vmin;
    }
}