.menu {
    position: absolute;
    z-index: 100;

    ._content {
        position: absolute;
        background-color: $theme-color-white;

        .content__list {
            box-sizing: border-box;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;

            a {
                margin: auto;
                opacity: 0;
                display: block;
                transition: color .3s ease;
                &, &:hover, &:active { color: $theme-color-black; }

                &:hover {
                    color: $theme-color-green;
                }
            }
        }

        &[data-state="init"] {
            transform: translateX(100%);
        }

        &[data-state="close"] {
            animation: right-slide-out .35s ease forwards;
        }

        &[data-state="open"] {
            animation: right-slide-in .35s ease forwards;

            .content__list a {
                $animation: fadein .04s linear alternate 5 forwards;
                &:nth-child(1) { animation: $animation .30s }
                &:nth-child(2) { animation: $animation .34s }
                &:nth-child(3) { animation: $animation .36s }
                &:nth-child(4) { animation: $animation .32s }
            }
        }
    }

    ._button-wrap {
        &[data-state="open"] { display: block; }
        &[data-state="close"], &[data-state="init"] { display: none; }
    }

    @include pc-layout {
        position: absolute;
        box-sizing: border-box;
        width: 10%; height: 100%;
        right: 0; top: 0;
        border-left: 1px solid transparentize($theme-color-white, .5);

        ._content {
            width: 100vw; height: 100vh;
            left: -90vw; top: 0;

            .content__list {
                padding: 25vh 0;

                a {
                    font-size: 3rem;
                    letter-spacing: .6rem;
                }

                .current {
                    color: #98bfba;
                    border-bottom: 3px solid $theme-color-green;
                    pointer-events:none;
                }
            }
        }

        ._button-wrap {
            position: inherit;
            width: 100%; height: 100%;
            cursor: pointer;
            box-sizing: border-box;

            &[data-state="open"] { cursor: default; }
        }

        .inner {
            position: absolute;
            width: 10vw; height: 10vw;
            left: 0; top: calc(50% - 5vw);
        }

        .menu__button-open {
            div {
                position: absolute;
                width: 50%; height: 2px;
                background-color: $theme-color-white;
                left: calc(50% - 2.5vw); top: calc(50% - 1px);

                &::before, &::after {
                    content: ""; position: absolute;
                    width: 100%; height: 100%;
                    background-color: $theme-color-white;
                }

                &::before { transform: translateY(-1vw); }
                &::after  { transform: translateY( 1vw); }
            }
        }

        .menu__button-close {
            cursor: pointer;
            transform-origin: center;
            transform: scale(.7);
            transition: transform .5s cubic-bezier(.55,.05,.22,.99);

            &:hover {
                transform: scale(.6);
            }

            .ring {
                position: absolute;
                width: 100%; height: 100%;
                border-radius:50%;
                box-sizing: border-box;
                animation: rotate-1turn 2s linear infinite;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    border: 3px solid transparent;
                    box-sizing: border-box;
                    top: 0; left: 0;
                    bottom: 0; right: 0;
                    border-radius: 50%;
                }

                &::before {
                    border-left: 3px solid $theme-color-black;
                }

                &::after {
                    border-left: 3px solid $theme-color-black;
                    animation: rotate0-90-0 2s linear infinite;
                }
            }

            .inner {
                position: absolute;
                width: 50%; height: 3px;
                left: 25%; top: calc(50% - 1.5px);

                &::before, &::after {
                    content: ""; position: absolute;
                    width: 100%; height: 100%;
                    left: 0; top: 0;
                    background-color: $theme-color-black;
                    transform-origin: 50% 50%;
                    opacity: 0;
                }

                &::before {
                    transform: rotate(45deg);
                    animation: close-button-inner-in__type1 .4s cubic-bezier(.69,.01,.2,.99) forwards;
                }

                &::after {
                    transform: rotate(-45deg);
                    animation: close-button-inner-in__type2 .4s cubic-bezier(.69,.01,.2,.99) forwards;
                    animation-delay: .1s;
                }
            }
        }
    }
}