* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    color: $theme-color-white;
    background-color: $theme-color-black;
}

#root {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    overflow: hidden;
    font-family: $theme-font-normal;
}

a {
    text-decoration: none;
    &, &:hover, &:active { color: $theme-color-white; }
}

@font-face {
    font-family: "RBNo2Light";
    src: url("./fonts/RBNo2Light.otf");
}

::selection {
    color: $theme-color-black;
    background-color: $theme-color-white;
}