* {
    margin: 0;
    padding: 0;
}

#root {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    overflow: hidden;
    color: $theme-color-white;
    background-color: $theme-color-black;
    font-family: Serif;
}